body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
}

.left-column {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-column {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    max-width: 100%;
    max-height: 100%;
}

.form {
    max-width: 400px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* Opcional: Añade estilos adicionales según tus necesidades */


/* Opcional: Añade estilos adicionales según tus necesidades */

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}

body {
    color: #45a049;
}


/* inputs */

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 100%;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: #a4a4a4;
    padding: 4px 0;
    background: transparent;
    transition: border-color 0.2s;
    &::placeholder {
        color: transparent;
    }
    &:placeholder-shown~.form__label {
        font-size: 18px;
        cursor: text;
        top: 20px;
    }
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 18px;
    color: #9b9b9b;
}

.form__field:focus {
    /*  */
    ~.form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: #4caf50;
        font-weight: 700;
    }
}


/* reset input */


/* .form__field {
    &:required,
    &:invalid {
        box-shadow: none;
    }
} */


/* demo */


/* body {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 1.5rem;
    background-color: #222222;
} */